.login {
    background-image: linear-gradient(135deg, rgb(3 2 2 / 0%) 0%, rgb(162 75 75) 100%), url('../image/login.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }
  .login-card{
    background: transparent;
 
   
  }
  